.statusbar {
    height:110px;
    width:615px;
    background-color:white;
    border:1px solid #dbdbdb;
    margin-top:25px;
    display:flex;
    overflow-x:scroll;
}
.status {
    margin: 20px 10px 25px 10px;
    text-align: center;
}

.statusbar_status {
    min-height: 55px;
    min-width: 55px;
    border: 3px solid #df3968;
}

.statusbar_profile {
    font-size:12px;
    overflow-x:hidden;
    max-width:60px;
}
.statusbar::-webkit-scrollbar {
    display:none;
}

.story_icon {
    height: 85px;
    width: 85px;
    margin: 10px 5px 25px 5px;
    text-align: center;
    border-radius:50%;
}