.upload_icon {
    width:60px;
    height:60px;
}

.post_upload {
    width:615px;
    height: 60px;
    border:1px solid #dbdbdb;
    border-radius:8px;
    background-color:white;
    display:flex;
    margin-top:5px;
}

.upload_statement {
    margin-left: 10px;
    margin-top: 18px;
}
.post_input{
    display:none;
    
}
.upload_statement {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: white;
    width:450px;
}

.upload_statement:focus {
        outline: none;
}

.post_button {
    margin-left: 50px;
    background-color: #0395F6;
    border: 1px solid #0395F6;
    color:white;
    border-radius:5px;
}