.navbar{
    border:1px solid #DBDBDB;
    height:45px;
    background-color:white;

}
.navbar_component {
    display: flex;
    margin: 10px 0px 10px 0px;
}
.logo {
    
}

.navbar_search {
    margin-left:220px;
    margin-right:30px;
}
.searchbar {
    background-color: #DBDBDB;
    border:1px none #DBDBDB;
    text-align:center;
    height:25px;
    border-radius:5px;
}

.navbar_icon {
    display:flex;
    margin-left:0px;
    margin-left:58px;
}