.post_container {
    width:615px;
    border:1px solid #dbdbdb;
    background-color:white;
    margin-top:25px;
}

.post_header {
    height:65px;
    border-bottom:1px solid #dbdbdb;
    display:flex;
}

.post_profile {
    margin:10px;
}

.post_username{
    margin-top:15px;
    font-weight:bold;
}

.post_analyticsicon{
    width:25px;
    height:25px;
    margin:10px;
}
.post_comment {
    margin:10px;
    display:flex;
}

.post_commentinput {
    height:56px;
    width:602px;
    border:1px solid #dbdbdb;
    padding-left:10px;

}