
.login_content {
    margin-top: 35px;
    display: flex;
    
}

.loginpage_logo {
    width:175px;
    margin-top:25px;
}

.loginpage_component {
    margin-top: 30px;
    text-align: center;
    padding-bottom:25px;
    width: 350px;
    border: 1px solid #DBDBDB;
    background-color: white;
    
}

.loginpage_text {
    margin: 5px 0px 5px 0px;
    width: 258px;
    height: 38px;
    padding-left: 10px;
    border-radius: 5px;
    border:1px solid #DBDBDB;
    background:rgba(var(--b3f,250,250,250),1);
}
.loginpage_login {
    margin-top: 10px;
    height: 36px;
    width: 258px;
    border-radius: 5px;
    border: 1px solid #0395F6;
    background-color: #0395F6;
    font-weight: bold;
    color: aliceblue;
}

.login_divd {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.loginpage_divder {
    margin-top:10px;
    border: 1px solid #DBDBDB;
    width: 110px;
    height: 0px;
    justify-content: flex-end;
}

.loginpage_divdercontent{
    margin:0px 10px 0px 10px;
}

.loginpage_facebook {
    height: 19px;
    width: 20px;
    margin-right: 5px;
}
.loginpage_fb {
    margin-top: 20px;
    color: blue;
    font-size:12px;
    font-weight:bold;
}

.loginpage_forget{
    margin:20px 0px 2px 0px;
    font-size: 10px;
}

.loginpage_signup {
    margin-top:10px;
}
.loginpage_signupoption {
    text-align: center;
    width: 350px;
    height: 50px;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    margin: 20px 0 10px;
    background-color: white;
}

.loginpage_signin {
    margin-top: 10px;
}