.infosection{
    width:300px;
    height:56px;
    margin-top:50px;
    margin-left: 30%;
    display:flex;
}

.info_image{
    min-height:60px;
    min-width:60px;
}

.info_userinfo {
    margin-top:8px;
    margin-left:15px;
}
.info_username {
    font-weight:bold;
}

.info_description {
}